<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="secondary">
            <strong>{{ title }}</strong>
        </ion-title>
        <ion-buttons slot="end">
            <ng-container *ngIf="isModal; else headerMenu">
                <ion-button color="secondary" (click)="closeModal()">Close</ion-button>
            </ng-container>
            <ng-template #headerMenu>
                <ion-button class="header-menu-link" color="secondary" (click)="showPopoverMenu($event)">
                    <ion-icon name="ellipsis-vertical-outline" class="header-menu-link-icon"></ion-icon>
                </ion-button>
            </ng-template>
        </ion-buttons>
    </ion-toolbar>
</ion-header>