<header-component [title]="'Friends'"></header-component>

<ion-content [fullscreen]="true">
  <header-condense-inactive-component [title]="'Friends'"></header-condense-inactive-component>
  <ng-container *ngIf="(friendsService.friends$ | async) as friends;">
    <ion-list *ngIf="friends && friends.length; else noItems">
      <ion-item-sliding *ngFor="let friend of friends" color="primary">
        <ion-item color="primary" (click)="openModal(friend)">
          <ion-label>{{ friend.getFullName() }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="openModal(friend)">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="friendsService.delete(friend)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-template #noItems>
    <div class="no-items-message">No friends added yet</div>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
