<header-component [title]="(tempFriend && tempFriend.id) ? tempFriend.getFullName() : 'Add friend'" [isModal]="true" (onModalClose)="closeModal()"></header-component>

<ion-content [fullscreen]="true">
    <form #addFriendForm="ngForm" (submit)="save();">
        <ion-item color="primary">
            <ion-label position="floating">First name</ion-label>
            <ion-input name="firstName" [(ngModel)]="tempFriend.firstName" required></ion-input>
        </ion-item>

        <ion-item color="primary">
            <ion-label position="floating">Middle name</ion-label>
            <ion-input name="middleName" [(ngModel)]="tempFriend.middleName"></ion-input>
        </ion-item>
    
        <ion-item color="primary">
            <ion-label position="floating">Last name</ion-label>
            <ion-input name="lastName" [(ngModel)]="tempFriend.lastName"></ion-input>
        </ion-item>

        <ion-button color="secondary" shape="round" class="button-bottom-center" type="submit" [disabled]="addFriendForm.invalid">Save friend</ion-button>
    </form>
</ion-content>