<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="play">
      <ion-icon name="beer-outline" color="secondary"></ion-icon>
      <ion-label color="secondary">Party Time!</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges">
      <ion-icon name="receipt-outline" color="secondary"></ion-icon>
      <ion-label color="secondary">Challenges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon name="people-outline" color="secondary"></ion-icon>
      <ion-label color="secondary">Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
