<header-component [title]="'Info'" [isModal]="true" (onModalClose)="closeModal()"></header-component>

<ion-content color="primary" [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                The concept is simple: create some friends, add some challenges, and you're good to go. From there on out you can
    start a party with the added friends and challenges. The app will then terrorize the party at random times during
    the party with its anoying alarm (turn notification sounds on!), after which you and your friends have to complete a
    challenge. Have fun, and good luck!
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>