<header-component [title]="'Info'" [isModal]="true" (onModalClose)="closeModal()"></header-component>

<ion-content color="primary" [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>
                    The concept is simple:
                </p>
                <ul>
                    <li>Create some friends</li>
                    <li>Add some challenges</li>
                    <li>Start a party!</li>
                </ul>
                <p>
                    The app will then terrorize the party at random times during the party with its 
                    anoying alarm (turn notification sounds on!), after which you and your friends 
                    have to complete a challenge.
                </p>
                <p>
                    Have fun, and good luck!
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>