<header-component [title]="title"></header-component>

<ion-content [fullscreen]="true">

  <div class="content-inner">
    <span *ngFor="let confetti of [].constructor(150); let i = index" class="confetti-{{i}}"></span>
    <header-condense-inactive-component [title]="''"></header-condense-inactive-component>
    <img src="../../assets/img/logo.png" alt="Party Crasher logo" class="logo">
    <ion-button color="secondary" shape="round" class="play-button button-bottom-center">Start a party</ion-button>
  </div>
</ion-content>
