<header-component [title]="(tempGame.title) ? tempGame.title : 'Start party'" [isModal]="true" (onModalClose)="closeModal()"></header-component>

<ion-content [fullscreen]="true">
    <form #startPartyForm="ngForm">
        <ion-item color="primary">
            <ion-label position="floating">Title</ion-label>
            <ion-input name="title" [(ngModel)]="tempGame.title" autocapitalize="on" required></ion-input>
        </ion-item>
        <ion-item color="primary" *ngIf="!gameInProgress">
            <ion-label position="floating">Start time</ion-label>
            <ion-datetime displayFormat="D MMM YYYY H:mm" name="startDateTime" [(ngModel)]="tempGame.startDateTime" required></ion-datetime>
        </ion-item>
        <ion-item color="primary" *ngIf="!gameInProgress">
            <ion-label position="floating">End time</ion-label>
            <ion-datetime displayFormat="D MMM YYYY H:mm" name="endDateTime" [(ngModel)]="tempGame.endDateTime" required></ion-datetime>
        </ion-item>
        <ion-item color="primary" *ngIf="friends && friends.length">
            <ion-label position="floating">Who's playing?</ion-label>
            <ion-select placeholder="Select friends" multiple="true" cancelText="Cancel" okText="Done" name="players" [(ngModel)]="tempGame.players">
                <ion-select-option *ngFor="let friend of friends" [value]="friend" required>{{friend.getFullName()}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item color="primary" *ngIf="challenges && challenges.length">
            <ion-label position="floating">Challenges</ion-label>
            <ion-select placeholder="Select challenges" multiple="true" cancelText="Cancel" okText="Done" name="challenges" [(ngModel)]="tempGame.challenges">
                <ion-select-option *ngFor="let challenge of challenges" [value]="challenge" required>{{challenge.title}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item color="primary" *ngIf="!gameInProgress">
            <ion-label position="floating">Min. amount of challenges</ion-label>
            <ion-input name="minChallenges" [(ngModel)]="tempGame.minChallenges" autocapitalize="on" type="number" required></ion-input>
        </ion-item>
        <ion-item color="primary" *ngIf="!gameInProgress">
            <ion-label position="floating">Max. amount of challenges</ion-label>
            <ion-input name="maxChallenges" [(ngModel)]="tempGame.maxChallenges" autocapitalize="on" type="number" required></ion-input>
        </ion-item>
        <ion-button color="secondary" 
                    shape="round" 
                    class="button-center spacer-top-xxl spacer-bottom-xxl" 
                    (click)="save()"
                    [disabled]="
                    startPartyForm.invalid || 
                    !tempGame.challenges || 
                    !tempGame.challenges.length || 
                    !tempGame.minChallenges || 
                    !tempGame.maxChallenges || 
                    (tempGame.minChallenges > tempGame.maxChallenges) || 
                    !tempGame.players || 
                    !tempGame.players.length ||
                    (
                        !gameInProgress &&
                        (
                            (!moment(tempGame.startDateTime).startOf('minute').isSameOrAfter(moment(), 'minutes')) ||
                            (moment(tempGame.startDateTime).isAfter(moment(tempGame.endDateTime), 'minutes'))   
                        )
                    )
                    ">
                    Ready, set, go!
        </ion-button>
    </form>
</ion-content>