.button-center {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    display: block;
    font-weight: 900;
    z-index: 1;
}

.button-bottom {
    position: absolute;
    bottom: 40px;
}