ion-modal {
    // Mobile only
    @media (max-width: 767px) {
        .modal-wrapper {
            --height: calc(100% - 50px);
            --overflow: visible;
            --background: transparent;
            margin-bottom: -50px;

            // Swipe close indicator
            &:before {
                content: '';
                width: 60px;
                height: 6px;
                margin: 0 auto;
                position: absolute;
                left: 0;
                right: 0;
                top: -25px;
                background-color: rgba(var(--ion-color-light-rgb), 0.5);
                border-radius: 3px;
            }

            .ion-page {
                border-radius: 20px !important;
            }
        }
    
        .modal-shadow {
            --height: calc(100% - 100px);
            margin-bottom: -100px;
            background: var(--ion-color-primary) !important;
        }   
    }
}